@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Creepster&display=swap");

/* --------------------------
--------- Animations --------
-------------------------- */

@keyframes hero-zoom {
  from {
    transform: scale(0.7);
  }

  to {
    transform: scale(1);
  }
}

/* --------------------------
------- Global styles -------
-------------------------- */

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  /* min-height: 100vh; */
  background: url("../images/park-anthropomorphic-jack-o-lantern.webp") center
    fixed;
  background-color: #d2cbe3;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #fd9702;
  font-family: "Arvo", sans-serif;
}

/* Header styles */
h1,
h2,
h3 {
  font-family: "Creepster", sans-serif;
}

h1 {
  font-size: 450%;
}

/* Media */
audio {
  width: 250px;
  height: 35px;
}

audio::-webkit-media-controls-panel {
  background-color: #77381a;
  border: #77381a;
}

audio::-webkit-media-controls-time-remaining-display {
  color: #fff;
}

/* about us IMAGES */

.fa-github,
.fa-linkedin {
  color: #ff6600;
}

.fa-github:hover,
.fa-linkedin:hover {
  color: #eee;
}

img {
  margin: 5px;
  animation-name: hero-zoom;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

#werewolf-img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 99;
  height: 70%;
  width: auto;
  display: none;
  transition: opacity 1.5s;
  animation-duration: 0.2s;
}

/* pumpkin animation */
.hide {
  display: none;
}


/* --------------------------
------- Layout styles -------
-------------------------- */

/* #bg-image {
  background-image: url('../images/halloween-2837936_1920.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;  
  transition: background-size 1.8s;
} */

#welcome-headings {
  color: rgb(12, 9, 14);
  text-shadow: 0 0 10px orange;
  transition: opacity 1.2s;
}

#welcome,
#welcome-to,
#spooky-story-creation {
  opacity: 0;
}

#welcome {
  transition: opacity 1.5s;
}

#welcome-to {
  transition: opacity 1.2s;
}

#spooky-story-creation {
  transition: opacity 0.7s;
}

#container {
  background-color: rgba(9, 7, 10, 0.8);
  /* Adjust the color and alpha (0.7) as needed */
  padding-top: 10px;
  padding-bottom: 10px;
  /* Add padding to improve visibility */
  /* margin: 40px; */
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  min-height: 400px;
  opacity: 0;
  transition: opacity 2s;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100%; /* Add this */
  background-color: rgba(9, 7, 10, 0.8);
  /* Adjust the color and alpha (0.7) as needed */
  padding-top: 10px;
  padding-bottom: 10px;
  /* Add padding to improve visibility */
  /* margin: 40px; */
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  min-height: 400px;
  opacity: 1;
  transition: opacity 2s;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100%; /* Add this */
}


.btn-container {
  margin-top: auto;
}
.consistent-btn {
  width: 150px; /* Or whatever width you find appropriate */
}

.borders {
  border: solid 5px;
  border-top-left-radius: 50% 15% !important;
  border-top-right-radius: 50% 15% !important;
  box-shadow: 5px 5px 59px rgb(255, 165, 0);
}

#header-seperator {
  height: 0.3rem;
  opacity: 1;
}

#audio-control {
  opacity: 0;
}

/* --------------------------
---------- Buttons ----------
-------------------------- */

.btn,
#reset-button {
  background-color: rgb(255, 102, 0);
  border-color: rgb(255, 102, 0);
  color: #000;
}

/* Button hover effect */
.btn:hover,
#reset-button:hover {
  background-color: rgba(9, 7, 10, 0.5);
  border-color: #000;
  color: rgb(255, 102, 0);
  box-shadow: 0px 0px 20px rgb(255, 165, 0);
}

/* Age Verification button styles */
#yes-button {
  background-color: rgb(255, 102, 0, 0.5);
}

#no-button {
  background-color: rgb(255, 102, 0, 0.5);
}

#yes-button:focus,
#yes-button:active,
#no-button:focus,
#no-button:active {
  box-shadow: 0px 0px 20px rgb(255, 165, 0);
  color: rgb(255, 102, 0);
  border-color: #000;
}

/* Style specifically for the audio buttons */
.audio-btn {
  margin-right: 10px;
}

/* Style for the volume slider, if needed */
/* .audio-volume-slider { */
/* Add any specific styles for the volume slider here */
/* } */

/* --------------------------
------- Media queries -------
-------------------------- */

/* Small screens until 600px */
@media screen and (max-width: 490px) {
  body {
    background: url("../images/moon-outdoors-pumpkin.webp") bottom right fixed;
    background-size: cover;
  }

  img {
    width: 80px;
    height: 80px;
  }
}

@media (min-width: 474px) and (max-width: 767px) {
  #reset-button {
    margin-top: 0 !important;
  }
}

@media screen and (min-width: 768px) {
  #werewolf-img {
    height: 80%;
  }
}

@media screen and (min-width: 1200px) {
  #werewolf-img {
    right: 15%;
    height: 100%;
  }
}

@media screen and (min-width: 1600px) {
  #werewolf-img {
    right: 20%;
    height: 100%;
  }
}