@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Creepster&display=swap");


/* --------------------------
------- Global styles -------
-------------------------- */

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

body {
    background: url("../images/park-anthropomorphic-jack-o-lantern.webp") center fixed;
    background-color: #d2cbe3;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: #fd9702;
    font-family: "Arvo", sans-serif;
}

/* Header styles */
h1,
h2,
h3 {
    font-family: "Creepster", sans-serif;
}

h1 {
    font-size: 450%;
}


/* --------------------------
----------- Media -----------
-------------------------- */

/* Audio */
audio {
    width: 250px;
    height: 35px;
}

audio::-webkit-media-controls-panel {
    background-color: #77381a;
    border: #77381a;
}

audio::-webkit-media-controls-time-remaining-display {
    color: #fff;
}

#audio-control {
    opacity: 0;
    /* opacity added with JavaScript in opening sequence timers */
}

/* Images */
.fa-github,
.fa-linkedin {
    color: #ff6600;
}

.fa-github:hover,
.fa-linkedin:hover {
    color: #eee;
}

img {
    margin: 5px;
    animation-name: hero-zoom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#werewolf-img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 99;
    height: 70%;
    width: auto;
    display: none;
    transition: opacity 1.5s;
    animation-duration: 0.2s;
}

/* --------------------------
--------- Animations --------
-------------------------- */

@keyframes hero-zoom {
    from {
        transform: scale(0.7);
    }

    to {
        transform: scale(1);
    }
}

@keyframes fade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* pumpkin animation */
.hide {
    display: none;
}

/* Fading effects for transitions */
#welcome {
    transition: opacity 1.5s;
}

#welcome-to {
    transition: opacity 1.2s;
}

#spooky-story-creation {
    transition: opacity 0.7s;
}

#creating-story-info {
    opacity: 0;
    transition: opacity 1s;
}

#generate-story {
    transition: opacity 2s;
    /* 2 seconds fade duration */
}

.fade-out {
    animation-name: fade;
    animation-timing-function: ease-in;
    animation-duration: 6s;
    /* This is a 3-second fade. Adjust as needed. */
    animation-fill-mode: forwards;
}

/* --------------------------
------- Layout styles -------
-------------------------- */

#welcome-headings {
    color: rgb(12, 9, 14);
    text-shadow: 0 0 10px orange;
    transition: opacity 1.2s;
}

#welcome,
#welcome-to,
#spooky-story-creation {
    opacity: 0;
    /* opacity added with JavaScript in opening sequence timers */
}

#container {
    background-color: rgba(9, 7, 10, 0.8);
    padding-top: 10px;
    padding-bottom: 10px;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    min-height: 400px;
    opacity: 0;
    /* opacity added with JavaScript in opening sequence timers */
    transition: opacity 2s;
    display: none;
    /* display: flex; added with JavaScript on timer */
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
}

.btn-container {
    margin-top: auto;
}

.consistent-btn {
    width: 150px;
    /* Or whatever width you find appropriate */
}

.borders {
    border: solid 5px;
    border-top-left-radius: 50% 5rem;
    border-top-right-radius: 50% 5rem;
    box-shadow: 5px 5px 59px rgb(255, 165, 0);
}

#header-seperator {
    height: 0.3rem;
    opacity: 1;
}

/* --------------------------
---------- Buttons ----------
-------------------------- */

#muteButton,
#showFullStoryButton {
    font-size: 10px;
}

.btn,
#reset-button,
#muteButton,
#showFullStoryButton {
    background-color: rgb(255, 102, 0);
    border-color: rgb(255, 102, 0);
    color: #000;
}

/* Button hover effect */
.btn:hover,
#reset-button:hover,
#muteButton:hover,
#showFullStoryButton:hover {
    background-color: rgba(9, 7, 10, 0.5);
    border-color: #000;
    color: rgb(255, 102, 0);
    box-shadow: 0px 0px 20px rgb(255, 165, 0);
}

/* Age Verification button styles */
#yes-button {
    background-color: rgb(255, 102, 0, 0.5);
}

#no-button {
    background-color: rgb(255, 102, 0, 0.5);
}

#yes-button:focus,
#yes-button:active,
#no-button:focus,
#no-button:active {
    box-shadow: 0px 0px 20px rgb(255, 165, 0);
    color: rgb(255, 102, 0);
    border-color: #000;
}

.generate-btn:focus,
.generate-btn:active,
#muteButton:focus,
#muteButton:active {
    background-color: rgba(9, 7, 10, 0.5);
    border-color: #000;
    color: rgb(255, 102, 0);
    box-shadow: 0px 0px 20px rgb(255, 165, 0);
}

/* Style specifically for the audio buttons */
.audio-btn {
    margin-right: 10px;
}

#muteButton .fas {
    margin-right: 5px;
    /* spacing between the icon and the text */
}

/* --------------------------
------- Media queries -------
-------------------------- */

/* Small screens until 600px */
@media screen and (max-width: 490px) {
    body {
        background: url("../images/moon-outdoors-pumpkin.webp") bottom right fixed;
        background-size: cover;
    }

    img {
        width: 80px;
        height: 80px;
    }

    .borders {
        border-top-left-radius: 50% 3rem;
        border-top-right-radius: 50% 3rem;
    }
}

/* Between screen sizes 474px and 767px */
@media (min-width: 474px) and (max-width: 767px) {
    #reset-button {
        margin-top: 0 !important;
    }
}

/* Media query for 768px, tablets and above */
@media screen and (min-width: 768px) {
    #werewolf-img {
        height: 80%;
    }
}

/* Media query for 1200px, laptops and bigger */
@media screen and (min-width: 1200px) {
    #werewolf-img {
        right: 15%;
        height: 100%;
    }
}

/* Media query for 1600px, laptops and bigger */
@media screen and (min-width: 1600px) {
    #werewolf-img {
        right: 20%;
        height: 100%;
    }
}
