@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Creepster&display=swap');

/* --------------------------
--------- Animations --------
-------------------------- */

@keyframes hero-zoom {
    from {
        transform: scale(0.5);
    }

    to {
        transform: scale(1);
    }
}

/* --------------------------
------- Global styles -------
-------------------------- */

* {
    box-sizing: border-box;
}

body {
    background: url('../images/moon-outdoors-pumpkin.webp') center fixed;
    background-color: #d2cbe3;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fd9702;
    font-family: 'Arvo', sans-serif;
}

/* Header styles */
h2 {
    font-family: 'Creepster', sans-serif;
}

/* Media */
audio {
    width: 250px;
    height: 35px;
}

audio::-webkit-media-controls-panel {
    background-color: #77381A;
    border: #77381A;
}

audio::-webkit-media-controls-time-remaining-display {
    color: #fff;
}



/* --------------------------
------- Layout styles -------
-------------------------- */

/* #bg-image {
  background-image: url('../images/halloween-2837936_1920.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;  
  transition: background-size 1.8s;
} */

#container {
    background-color: rgba(174, 3, 255, 0.5);
    /* Adjust the color and alpha (0.7) as needed */
    padding: 10px;
    /* Add padding to improve visibility */
    /* margin: 40px; */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    min-height: 400px;
    opacity: 0;
    transition: opacity 2s;
}


/* --------------------------
---------- Buttons ----------
-------------------------- */

.btn {
    background-color: #ff6600;
    border-color: #ff6600;
    color: #000;
}

/* Button hover effect */
.btn:hover {
    background-color: #ff8c1a;
    border-color: #ff8c1a;
}

/* Age Verification button styles */
#yes-button {
    background-color: #00cc00;
}

#no-button {
    background-color: #cc0000;
}

/* Reset button styles */
#reset-button {
    background-color: #6600cc;
}

/* Media queries */

/* Small screens until 600px */
@media screen and (max-width: 490px) {
    body {
        background: url('../images/moon-outdoors-pumpkin.webp') bottom right fixed;
    }
}